<!-- views/courses/_coureModal.ejs-->
<button
id="modal-button"
type="button"
data-toggle="modal"
data-target="#myModal"
>
Latest Courses
</button>

<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-body">
        <div class="modal-header">
            <h4 class="modal-title">Latest Courses</h4>
        </div>
        <div class="modal-body"></div>
        <div clas="modal-footer">
            <button type="button" class="btn tbtn-default" data-dismiss="modal">
                close
            </button>
        </div>
    </div>
</div>
</div>